@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body,
  .page-wrapper {
    @apply min-h-screen font-body text-base leading-[1.6];
  }

  /* Default Heading */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  h1 {
    @apply text-3xl leading-[1.1] md:text-4xl lg:leading-[1.26] xl:text-[46px] xxl:text-[100px];
  }

  h2 {
    @apply text-4xl leading-[1.15] md:text-5xl lg:text-6xl xl:text-[66px];
  }

  h3 {
    @apply text-2xl leading-[1.375] lg:text-[32px];
  }

  h4 {
    @apply text-[20px] leading-[1.6];
  }

  h5 {
    @apply text-lg leading-[1.6];
  }

  h6 {
    @apply text-sm leading-[1.6];
  }

  a,
  button {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer components {
  .btn {
    @apply relative font-medium;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-stroke-width: 1px;
    text-stroke-color: #000;
  }

  .text-stroke-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-width: 1px;
    text-stroke-color: #fff;
  }
}

@keyframes fill-up-initial {
  100% {
    opacity: 0;
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
  }
}

@keyframes fill-up-end {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Main Wrapper */
.main-wrapper {
  @apply overflow-hidden;
}

.container {
  @apply mx-auto max-w-[1600px] px-5 lg:px-8 xl:px-10;
}

.container-custom {
  @apply mx-auto max-w-[1380px] px-5 lg:px-8 xl:px-10;
}

/* Section Space */
.section-space {
  @apply py-20 lg:py-[100px] xl:py-[120px] xxl:py-[200px];
}

.section-space-top {
  @apply pt-20 lg:pt-[100px] xl:pt-[120px] xxl:pt-[200px];
}

.section-space-bottom {
  @apply pb-20 lg:pb-[100px] xl:pb-[120px] xxl:pb-[200px];
}

/* Utility Class */
.scrolling {
  @apply bg-white/80 shadow-sm shadow-white/[2%] backdrop-blur-sm;
}

.scrolling.is-white {
  @apply bg-white/30 shadow-sm shadow-colorDark/[2%] backdrop-blur-sm;
}

.animate-transition {
  @apply transition-all duration-300 ease-in-out;
}